server6:
    interface: "eth0"
    #listen: 'your-unicast-address:547'
    plugins:
        - server_id: LL 00:de:ad:be:ef:00
        - file: "leases.txt"
        # - dns: 2001:4860:4860::8888 2001:4860:4860::8844

server4:
    listen: '0.0.0.0:67'
    interface: "eth0"
    plugins:
        # - server_id: 10.10.10.1
        # - file: leases.txt 10.10.10.100 10.10.10.200 60s
        # - dns: 8.8.8.8 8.8.4.4
        # - router: 10.10.10.1
        # - netmask: 255.255.255.0
